/*-------------------------------*/
/*         Landing Page          */
/*-------------------------------*/

.carousel {
  margin: -15px;
  margin-bottom: -70px;

}

.item {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.carousel-control .glyphicon { color: #FCFCFC; }

.img-car {
  min-width: 100vw;
}

/*-------------------------------*/
/*     Navbar nav styles         */
/*-------------------------------*/

.main-search {
  display: inline-block;
}

.navbar-form {
    border-color: transparent;
}

.btn-default {
  border: 0;
}
